$gremio: #87CEEB;
$inter: #FF0000;


$ColorText: #ebeaea;
$colorInfoBarText: #2c2c2c;
$buttomColor: #33a3cf;
$buttomColorHover: #0077cc;

$gradient1: #12c2e9;
$gradient2: #c471ed;
$gradient3: #f64f59;